PROMPTBRIDGE_SERVER_PORT=8787
MONGODB_URI="mongodb+srv://USERNAME:PASSWORD@YOUR-CLUSTER.mongodb.net/?retryWrites=true&w=majority&appName=PromptBridge"
MONGODB_DB_NAME="promptbridge"
MONGODB_TEMPLATES_COLLECTION="templates"
PROMPTBRIDGE_TEMPLATE_AUTO_SEED="true"
